
#set ($SITE_ROOT = $content.getURI(''))

<link type="text/css" rel="stylesheet" href="${SITE_ROOT}/style/xnat-plugins/xsyncPlugin/style.css">
<script type="text/javascript" src="${SITE_ROOT}/scripts/xnat-plugins/xsyncPlugin/xsync-config.js"></script>
<script type="text/javascript" src="${SITE_ROOT}/scripts/xnat-plugins/xsyncPlugin/xsync-reporting.js"></script>
<script type="text/javascript" src="${SITE_ROOT}/scripts/xnat/app/codeEditor.js"></script>

<h3>XSync Configuration</h3>
<div>
    <div id="xsync-config"></div>
    <script type="text/javascript">
        $(XSYNC.xsyncconfig.init);
    </script>
</div>

##<h3>XSync Credentials</h3>
##<div>
##    <div id='xsync-credentials-input'>
##    </div>
##    <script type="text/javascript">
##        $.ready(XSYNC.credentialsconfig.initialize());
##    </script>
##</div>
